node_modules/
client/node_modules
*.env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.eslintcache
.yarn-integrity
client/.env
.cache
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*